@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #100429;
  padding-top: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
}
